@font-face {
	font-family: MavenPro;
	src: url("../fonts/MavenPro-VariableFont_wght.ttf");
}
body {
	padding: 0;
	margin: 0;
	font-family: "MavenPro";
	color: white;
	background-color: #000405;
}

.tagline {
	color: white;
	font-size: 72px;
	width: 500px;
}

section {
	position: relative;
	height: 100vh;
	padding: 0;
	margin: 0;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	border-bottom: 3px solid white;
	box-shadow: 0 0 100px 100px #000405 inset;
}

.header video {
	position: absolute;
	filter: blur(10px);
	min-height: 100%;
	min-width: 100%;
	z-index: -1;
}

.logo {
	background: rgb(248, 128, 0);
	background: linear-gradient(
		180deg,
		rgba(248, 128, 0, 1) 0%,
		rgba(242, 35, 35, 1) 100%
	);
	filter: drop-shadow(0 0 25px black);
	-webkit-mask-image: url(../static/yagami_mask.svg);
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: 50% 50%;
	mask-image: url(../static/yagami_mask.svg);
	mask-repeat: no-repeat;
	mask-position: 50% 50%;
	height: 500px;
	width: 500px;
}
